@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Noto+Nastaliq+Urdu:wght@400;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-[#F8F9FA] text-slate-900;
  font-family: 'Inter', sans-serif;
}

.font-urdu {
  font-family: 'Noto Nastaliq Urdu', serif;
  line-height: 2;
}

[dir='rtl'] .sidebar-logo {
  flex-direction: row-reverse;
}
